<div class="col-md-3 hidden-sm">
    <div class="widget">
        <h6 class="title">搜索</h6>
        <hr>
        <form>
            <input class="mb0" type="text" placeholder="关键词" />
        </form>
    </div>
    <!--end of widget-->
    <div class="widget">
        <h6 class="title">作者</h6>
        <hr>
        <p>
            牛，泰牛，身体大，趾端有蹄，头上长有一对角，尾巴尖端有长毛。十二生肖之一。
        </p>
    </div>
    <!--end of widget-->
    <div class="widget">
        <h6 class="title">分类</h6>
        <hr>
        <ul class="link-list">
            <li>
                <a href="#">多彩生活</a>
            </li>
            <li>
                <a href="#">Web设计</a>
            </li>
            <li>
                <a href="#">图像库</a>
            </li>
            <li>
                <a href="#">随笔</a>
            </li>
        </ul>
    </div>
    <!--end of widget-->
    <div class="widget">
        <h6 class="title">最新博文</h6>
        <hr>
        <ul class="link-list recent-posts">
            <li>
                <a href="#">互联网+畅想</a>
                <span class="date">September 23, 2015</span>
            </li>
            <li>
                <a href="#">PHP7极速体验</a>
                <span class="date">September 19, 2015</span>
            </li>
            <li>
                <a href="#">全栈工程师怎么养成</a>
                <span class="date">September 07, 2015</span>
            </li>
        </ul>
    </div>
    <!--end of widget-->
    <div class="widget">
        <h6 class="title">最新评论</h6>
        <hr>
        <ul class="link-list recent-comments">
            <li>
                <a href="#">高大上</a>
                <span class="date">September 23, 2015</span>
            </li>
            <li>
                <a href="#">我要报名</a>
                <span class="date">September 19, 2015</span>
            </li>
        </ul>
    </div>
    <!--end of widget-->
</div>